.carousel-wrapper {
    width: 100%;

    .swiper-pagination-bullet-active {
        background-color: #000 !important;
    }

    .swiper-pagination {
        position: static !important;
        margin-top: 4rem !important;
        display: none;

        @include lgMaxBreakPoint {
            display: block;
        }
    }

    .carousel-controls {
        margin-top: 3rem;
        justify-content: flex-end;
        gap: 1rem;
        width: 100%;

        .previous-icon,
        .next-icon {
            cursor: pointer;
        }

        .previous-icon {
            transform: rotate(180deg);
            margin-right: 3rem
        }

        .control-disabled {
            opacity: 0.4
        }

        @include lgMaxBreakPoint {
            display: none;
        }
    }
}