.carousel-card {
    cursor: pointer;

    .carousel-card-inner {
        &:hover {

            .car-type,
            .model-name,
            .model-type {
                color: $volvo-primary-color
            }
        }
    }

    .car-image-wrapper {
        overflow: hidden;
        max-height: 220px;

        .car-image {
            transform: scale(1.1);
            transition: transform 0.3s;

            @include mdMaxBreakPoint {
                height: 140px
            }

        }

        @include mdMaxBreakPoint {
            max-height: 140px
        }
    }

    .car-type {
        font-weight: 700;
        color: $volvo-fade-color;
        font-size: 13px;
    }

    .model-name-wrapper {
        align-items: baseline;

        @include mdMaxBreakPoint {
            flex-direction: column;
        }
    }

    .model-name {
        font-weight: 500;
        font-size: 16px;
        margin-right: .4rem;
    }

    .model-type {
        color: $volvo-fade-color;
        font-size: 16px;
        margin-bottom: 1rem;
    }

    .car-img {
        @include mdMaxBreakPoint {
            height: 140px;
        }
    }

    .learn-shop-link {
        justify-content: center;
        margin-top: 1.5rem;
        gap: 1.5rem;

        .icon-link {
            gap: .5rem
        }

        .arrow-text {
            font-size: 14px;
            color: $volvo-primary-color;
            font-weight: bold
        }
    }
}